extends template.pug
block content
  html
    head
    body
      h1#elixireprivacypolicy elixi.re Privacy Policy
      p Date of this Privacy Policy: July 13th, 2020.
      p
        | A history of changes to this Privacy Policy can be found&nbsp;
        a(href='https://gitlab.com/elixire/legal/commits/master/privacy_policy.pug') here
        | .
      h2#gdprreferences GDPR references
      p
        | The official GDPR text can be found&nbsp;
        a(href='https://eur-lex.europa.eu/legal-content/EN/TXT/PDF/?uri=CELEX:32016R0679') here
        | .
      p
        | An interactive version of it can be found&nbsp;
        a(href='https://gdpr-info.eu/') here
        | .
      h2#onupdatestothisdocument On updates to this document
      p The Service reserves the right to update this document as the Service owners see fit. Major updates to this document will be communicated to the Users of the Service via their primary communication channel (Email).
      h2#glossary Glossary
      ul
        li
          code Snowflake
          | : A standard for unique identifier numbers first developed by Twitter. Snowflakes are generated by the service.
        li
          code shortname
          | : An identifier generated by the service composed of letters and numbers.
        li
          code object
          | : Depending on the context, means both a file and a shorten.
      h2#on-countries On countries
      p The Service owners are located in Turkey, Brazil, and the United States.
      p The Service's servers are located in United States and Germany.
      p
        | The Service uses Cloudflare, a US-based company.&nbsp;
        a(href='#third-party-actors-and-the-service') More information here
        | .
      p
        | The Service uses Backblaze, a US-based company.&nbsp;
        a(href='#on-data-leaving-servers-owned-by-the-service') More information here
        | .
      h2#on-advertisement On advertisement
      p The Service does not run advertisements. Because of that, the Service will not run tracking to run advertisements for the User.
      p The Service will not sell User information.
      h2#personal-data-stored Personal Data stored
      h3#data-on-a-single-user Data on a single User
      ul
        li Snowflake.
        li Usernames.
        li Emails, reasonings behind:
        li So the Service owners are able to directly contact single users in the case of a data breach.
        li
          | So the Service owners can&nbsp;
          strong manually&nbsp;
          | broadcast important information related to the Service to all users
        li Hashed passwords (with bcrypt):
        ul
          li The Service is unable to reveal the user's plaintext password using the stored, hashed version.
        li Consent to data processing.
        li "Paranoid" mode.
        li
          | More&nbsp;
          a(href='#on-paranoid-mode') here
        li Which domain and subdomain the User is using.
      h3#metadata-on-files Metadata on files
      p Other than the actual file data being stored to fulfill the purpose of the Service, the service stores this metadata about it:
      ul
        li Snowflake.
        li MIME type.
        li Shortname.
        li SHA256 Hash of the file contents.
        li File size.
        li Uploader's ID (a User).
        li
          | Deleted state:
          ul
            li
              | Please look&nbsp;
              a(href='#on-the-deleted-state-of-files-and-shortens') here
        li Domain:
        li Files are tied to a single domain.
      h3#meta-data-on-shortens Metadata on shortens
      p Other than the actual URL the shorten is redirecting to, the service stores the following metadata:
      ul
        li Snowflake.
        li Shortname.
        li Shortener's ID (a User).
        li
          | Deleted state:
          ul
            li
              | Please look&nbsp;
              a(href='#on-the-deleted-state-of-files-and-shortens') here
        li
          | Domain:
          ul
            li Shortens are tied to a single domain.
      h4#on-the-deleted-state-of-files-and-shortens On the "Deleted state" of files and shortens
      p The service does not want to risk having incorrect images be displayed on links to deleted images, so, to counteract that, we store objects' metadata even when the actual object information is deleted (and inaccessible from anyone, including the Service owners).
      p The deleted metadata is moved to a dummy account for anonymization.
      h4#on-paranoid-mode On Paranoid Mode
      p To decrease the probability of malicious users brute-forcing all possible shortnames on the Service to have a mapping from shortname to file data, the User can opt-in to what is called "Paranoid Mode" where every generated shortname for their file will be longer.
      h2#on-personal-data-which-is-extrapolated On Personal Data which is extrapolated
      p
        | "extrapolated" in this context means data that isn't directly&nbsp;
        em stored&nbsp;
        | but can be acquired by manual intervention.
      ul
        li User's IP Addresses
        ul
          li We do this to protect the stability of the service by blocking IP addresses and users that damage the service.
        li Discord usernames and discriminators
      h2#ontheserviceownersaccessingpersonaldata On the Service owners accessing Personal Data
      p The Service owners reserve the right to manually look into a User's personal information and object data/metadata for maintenance or ToS enforcing purposes, the second purpose is to maintain a positive image of the Service.
      p Users who break the ToS will have their Personal Data opened for the Service owners only. The Service owners might announce the account checking with the User IDs.
      h2#metrics-collected Metrics collected
      p To keep the technical security and positive reputation of the Service, we collect metrics which may or may not be published to the general public, as described below:
      p Public metrics that are not tied to any User, or are generated by the Service:
      ul
        li Requests per second.
        li Responses per second.
        li Errors per second.
        li Page hits per second.
        li How many tries it took to generate a shortname.
        li How long it took to get a response to a certain request (response latency).
        li How long it took for the Service to process a User's file.
        li Total amount of users in the Service.
        li The total amount of active users in the Service.
        li The total amount of inactive users in the Service.
        li The total amount of files in the Service.
        li The total amount of files' storage in the Service.
        li The total amount of files uploaded per hour.
        li The total amount of shortens in the Service.
      p Metrics the Service collects and will not be publicized:
      ul
        li Total amount of users who consented to data processing in the Service.
        li Total amount of users who have uploaded to the Service per hour.
      h2#on-the-use-of-personal-data On the use of Personal Data
      p This is the personal data the service directly accesses:
      ul
        li Emails
        ul
            li So that the Service is able to broadcast important messages about the Service to the Users.
        li Hashed passwords
        ul
          li We use hashed passwords as input to certain cryptographic operations related to the generation of User's authentication tokens.
          li Nobody has access to the User's password hash, given any of the User's authentication tokens.
      h2#third-party-actors-and-the-service Third-party Actors and the Service
      p The Service uses Cloudflare to provide resilience against DDoS attacks. Because of every interaction through the Service passing through Cloudflare, Cloudflare may run tracking or analytics which we (the Service) can't disable.
      p The Service owners agreed to the GDPR Data Processing Addendum on Cloudflare on official domains on May 22, 2018.
      h3#on-unofficial-domains On unofficial domains
      p We allow unofficial domains to be used in the Service. Unofficial domains are owned by third parties which are not the Service owners.
      p Usernames of these third parties may be publicly tied to their domains.
      p The third parties providing these unofficial domains may not respect this Privacy Policy as the Service does, we can not enforce the actions declared in this Privacy Policy on third parties and their unofficial domains.
      p The most Service owners know is that third parties can look on their Cloudflare accounts' analytics and see aggregated information on who is using their unofficial domains.
      p The Service does its best to keep bad third party actors away by:
      ul
        li Removing unofficial domains that have evidence on a bad action by a third party
        li
          | Running daily checks on all domains to detect:
          ul
            li Configuration errors.
            li Servers trying to redirect traffic to a malicious website.
            li Servers trying to redirect traffic to a malicious Elixire instance.
      h2#on-data-leaving-servers-owned-by-the-service On data leaving servers owned by the Service
      p The Service owners backup all images sent in the Service every 12 hours automatically. The Service owners backup the Service's database every 30 minutes automatically.
      p Both of those backups are stored on the B2 service provided by Backblaze (which is a US-based company). Database backups are encrypted with all the Service owners' PGP keys. Image folder backups are encrypted using a strong passphrase available to some owners of the Service.
